<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>URL Forlænger</title>
	<link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
	<div style="margin: auto;text-align: center;width: 50%">
		<h1>Link Forlænger</h1>
		<form action="/create" method="post">
			<label for="originalurl">Original URL:</label>
			<input type="text" name="originalurl" id="originalurl"><br>
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>