<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brainstorm metoder</title>
</head>
<body>
<div>
    <div>
        <h1>Det følgende afsnit handler om brainstorm teknikker</h1>
        <div>
            <h2 id="rekursivbrainstorm">Rekursiv brainstorm med variabel dybde</h2>
            <p>Denne brainstorm teknik er baseret på det generelle koncept bag brainstorming.
                Teknikken er primært baseret på at generere idéer ud fra et par start parametre, typisk i form af
                benspænd eller krav.</p>
            <p>Det er i sin helhed en temmelig simpel teknik. En typisk sparingssession kan gå således:</p>
            <p>- Person 1: hvad med vi laver et basalt regnearkssystem? [forslaget bliver skrevet op på en tavle]</p>
            <p>- Person 2: okay, jeg hører dig, den idé kræver følgende komponent/del: Brugerinterface. [Brugerinterface
                bliver skrevet ind under]</p>
            <p>- Person 1: ja, det er sandt, der er også en forretningsdel man kan dokumentere. ['Forretningsdel'
                skrives på]</p>
            <p>- Person 3: der er også rig mulighed for at komme omkring gestaltlovene og design af brugerfladen.
                [Skrives på]</p>
            <p>- *Fortsætter indtil man har nok ting på til et helt projekt, eller der er gået nok tid uden nye
                forslag*</p>

            <p>- Person 3: hvad hvis vi laver et spil baseret på Super Mario?</p>
            <p>- Person 1: det kunne man godt, så kan man dokumentere level design. [Leveldesign skrives på]</p>
            <p>- *Osv.*</p>
            <p>Teknikken er altså specielt god til skoleopgaver hvor man har et krav på dokumentationen. Teknikken
                fungerer bedst når man har mange der byder ind med forslag.</p>
        </div>
    </div>
</div>
</body>
</html>